* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-1: #f7f8f9;
}

/* Animation Area */
@keyframes pop-in {
    0% { opacity: 0; transform: translateY(-1rem) scale(.02);}
    100% { opacity: 1; transform: none;}
}

@keyframes shaker {
    0% { transform: translate(-3px, 2px) rotate(-3deg); }
    20% { transform: translate(-5px, 1px) rotate(1deg); }
    40% { transform: translate(4px, 1px) rotate(-2deg); }
    60% { transform: translate(-1px, -5px) rotate(1deg); }
    80% { transform: translate(1px, 9px) rotate(2deg); }
    100% { transform: translate(5px, -2px) rotate(-3deg); }
}

@keyframes downward {
    50% { transform: translateY(15px) rotate(3deg);}
    100% { transform: translateY(30) rotate(0.2deg);}
}

@keyframes catch {
    50% { transform: translateX(25px) rotate(-12deg);}
    65% { transform: translateY(-15px) rotate(-6deg);}
    100% { transform: rotate(0.2deg);}
}

@keyframes upward {
    0% {transform: translateY(-3px) rotate(-6deg);}
    40% {transform: translateY(-15px) rotate(-3deg);}
    100% {transform: translateY(-30px) rotate(3deg);}
}

svg {
    display: flex;
    width: 80%;
    height: 30%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
	stroke: #fafafa;
	animation-delay: -1s;
}

.text-copy:nth-child(2) {
	stroke: #0000ff;
	animation-delay: -2s;
}

.text-copy:nth-child(3) {
	stroke: #ffa500;
	animation-delay: -3s;
}

.text-copy:nth-child(4) {
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5) {
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset {
	100% {stroke-dashoffset: -35%;}
}
/* Animation Area End */

/* Parallax Rock Section */ 
@keyframes flyingRock-1 {
    100%, 0% { transform: translateX(-50%) translateY(40vh) rotateZ(20deg); }
    35% { transform: translateX(110vw) translateY(-120%) rotateZ(180deg); }
    55% { transform: translateX(-200%) translateY(80vh) rotateZ(-180deg); }
    78% { transform: translateX(200vw) translateY(-80%) rotateZ(-50deg); }
}

@keyframes flyingRock-2 {
    100%, 0% { transform: translateX(10%) translateY(-30vh) rotateZ(20deg); }
    35% { transform: translateX(110vw) translateY(87%) rotateZ(180deg); }
    55% { transform: translateX(-80%) translateY(70vh) rotateZ(-115deg); }
    85% { transform: translateX(200vw) translateY(30vh) rotateZ(300deg); }
}

.floating-rocks {
    display: block;
    position: fixed;
    opacity: 0.98;
}

.rock-style-1 {
    width: 130px;
}

.rock-style-2 {
    width: 110px;
}

.rock-1 {
    left: -7em;
    animation: flyingRock-1 70s 3 linear;
}

.rock-2 {
    bottom: 40em;
    left: -8em;
    animation: flyingRock-2 80s 4 linear;
    animation-delay: 30s;
}
/* Parallax Rock Section End */ 

/* Body/JumboTron Styling */
body {
    min-height: 100%;
    font-size: 26px;
    background: #000 url(../images/stars-image.jpg) center;
}

.iotd {
    max-width: 100%;
}

#img-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

iframe {
    border: none;
    flex-grow: 1;
    min-height: 50vh;
}

.animate-pop-in {
    animation: pop-in .8s ease-out forwards;
    opacity: 0;
}

.hero {
    transform: translateZ(0);
    z-index: 9999;
    background: #000 url(../images/earth-image.jpg) center no-repeat;
    mask-image: none;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    background-size: 100%;
    background-position-x: 200px;
    position: relative;
    display: flex;
    text-align: center;
    padding: 40px 80px;
    overflow: visible;
}

.hero-body {
    border-bottom: 4px solid white;
}

.hero-body h1, p {
    margin: 20px 0 15px;
}

.hero-body p {
    font-size: 21px;
    font-weight: 500;
    color: white;
}

.logo-image {
    position: relative;
    float: left;
    max-width: 9%;
    animation-delay: 0.3s;
    background-color: white;
    border-radius: 75%;
}
/* Body/JumboTron Styling End */

/* Main Content Container Area Styling */
.info-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
}

.atmos-info {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
    text-align: center;
}

h2,
h3,
p
 {
    transform: translateZ(0);
    color: black;
    font-weight: 500;
}

.fact-container {
    text-align: center;
}

.info-area h2{
    text-align: center;
}

.info-area h3 {
    text-align: center;
    font-size: 23px;
}

.card-wrapping-0 {
    transform: translateZ(0);
    z-index: 9998;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: hsl(200, 5%, 13%);
    margin: 3% 3%;
    padding: 4%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.card-wrapping {
    transform: translateZ(0);
    z-index: 9997;
    opacity: 0.8;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: hsl(200, 5%, 13%);
    margin: 3% 3%;
    padding: 4%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.card-wrapping-2 {
    transform: translateZ(0);
    z-index: 9996;
    opacity: 0.8;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: hsl(200, 5%, 13%);
    margin: 3% 3%;
    padding: 4%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.card-wrapping-3 {
    transform: translateZ(0);
    z-index: 9995;
    opacity: 0.8;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: hsl(200, 5%, 13%);
    margin: 3% 3%;
    padding: 4%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.btn {
    width: 20%;
    margin-top: 2%;
}

.popover {
    display: inline;
}

.card-body p {
    color: black;
}

.card-wrapping-2:hover {
    opacity: 0.97;
    box-shadow: rgba(202, 152, 76, 0.6) 0px 2px 12px 0px;
}

.card-wrapping:hover, .card-wrapping-0:hover, .card-wrapping-3:hover {
    opacity: 0.97;
    box-shadow: rgba(96, 79, 173, 0.6) 0px 2px 12px 0px;
}
/* Main Content Container Area Styling End */

/* Footer Styling */
footer {
    z-index: 9994;
    position: relative;
    width: 100%;
    margin-top: 4%;
    bottom: 3%;
}

.logo-2 {
    max-width: 5em;
    background-color: white;
    border-radius: 75%;
}

.logo-area {
    animation-delay: 0.2s;
    animation: catch 4.6s 1;
}

.logo-area:hover {
    animation: shaker 0.4s 2;
}

.logo-area:after {
    animation: upward 1s 1;
}

.footer a {
    transform: translateZ(0);
    color: white;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}

.footer a::after {
    border-radius: 1em;
    border-top: 1px solid hsl(0, 0%, 100%);;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right 1.8s cubic-bezier(0,.5,0,1);
}

.footer a:hover::after {
    right: 0;
}

.footer-line {
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-line::before, .footer-line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
}

.footer-line::before {
    margin-right: .25em;
}

.footer-line::after {
    margin-left: .25em;
}

.resources {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
/* Footer Styling End*/

/* Media Query Adjustments 1900px*/
@media screen and (max-width: 1900px) {
    .img-otd {
        max-height: 42.9vh;
    }

    .iotd {
        max-height: 38.9vh;
        width: 100%;
    }

    .info-area {
        overflow: auto;
        max-height: 42.9vh;
    }
}

/* Media Query Adjustments 992px*/
@media screen and (max-width: 1396px) {
    * {
        font-size: 20px;
    }

    .hero {
        display: flex;
        text-align: center;
        padding: 5%;
        background-position-x: 100px;
    }

    .hero-body p {
        font-size: 18px;
    }

    svg {
        display: flex;
        transform: translateY(15px);
        width: 89%;
        height: 50%;
    }

    .space-text {
        font-size: 1.13rem;
        transform: translateY(5%);
    }

    .fact-container {
        margin-top: 9%;
        margin-left: 10%;
        width: 80%;
    }

    .img-otd {
        max-height: none;
        min-height: none;
    }

    .iotd {
        max-height: none;
        width: 100%;
        min-height: none;
    }

    .logo-image {
        display: none;
    }

    .card-wrapping-0 {
        text-align: center;
        margin-left: 10%;
        width: 80%;
    }

    .card-wrapping {
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }
    
    .card-wrapping-2 {
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }

    .info-container {
        display: inline-block;
    }

    .atmos-info {
        display: inline-block;
        text-align: center;
        margin-top: 9%;
        margin-left: 0.2%;
        width: 100%;
    }

    .btn {
        margin-top: 2%;
        width: 30%;
        visibility: visible;
    }

    .popover {
        visibility: hidden;
    }

    footer {
        position: relative;
        width: 100%;
        bottom: 0;
        margin: 0;
    }
    
    .resources {
        margin: 5px;
    }
}