
/* GENERAL NOTES: may delete/rework all of this CSS. Was just messing around */
* {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 35px;
    z-index: 9999;
}
 header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
footer {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    padding: 40px 35px;
}
footer h2 {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

/* Footer "Return" Button Styling */
.giphy {
    position: relative;
    width: 50%;
}
.giphy img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.giphy button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .giphy button:hover {
    background-color: black;
  }
  /* End of Footer Button Styling */