* {
    outline: none;
    margin: 0;
    font-size: 20px;
    color: whitesmoke;
}

body {
    background-color: black;
}

.big-text {
    font-family: 'Alfa Slab One', cursive;;
    font-size: 50px;
    color: whitesmoke;
}

.li-text {
    font-size: 25px;
}

.header-container {
    text-align: center;
    margin-top: 50px;

}

.api-title {
    margin-top: -20px;
    text-align: center;
}